body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #606a38; 
    color: #333;
}

.container {
    display: flex;
    max-width: 960px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: #fff;
}

.left-column {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.right-column {
    flex: 1;
    padding: 20px;
}

h1, h2 {
    color: #168f3c; 
    font-family: 'Times New Roman', Times, serif;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #0d5251; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px; 
}

button[type="reset"] {
    background-color: #b91414; /* Warna Tombol Reset */
}

.keunggulan, .penyakit {
    margin-top: 20px;
}

.disclaimer {
    font-size: 15px;
    color: #777;
}

.hasil {
    text-align: center;
    margin-bottom: 20px;
}

.center-title {
    text-align: center;
    margin-top: 20px;
}
.center-text {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}


#hasil-bmi {
    font-size: 2em;
    font-weight: bold;
}

.tombol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.konsultasi button {
    width: auto;
    padding: 10px 15px;
    margin: 0 auto;
    border-radius: 7px; 
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.button-container button {
    width: auto;
    padding: 10px 15px;
    border-radius: 7px; 
}

